# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ch8emu

# Chip-8 ROMS
*.ch8
*.xo8

# Palette files
*.pal

# Game documentation
*.txt
*.png
*.pdf

# TEMP
test/*
c8/*